/* Style del body */
body 
{
    margin: 0;/*Declara el margen en 0*/
    font-family: 'Arial', sans-serif;/* Usa la siguiente fuente */
    background-color: white; /* Declara el color de fondo en blanco*/
    text-align: center; /* Centra el texto del contenido*/
}

/*Barra descuento bonita*/
.promo-barra {
    background-color: #10d0de; /* Un tono turquesa bonito como el de la imagen */
    color: white;
    text-align: center;
    padding: 2px 0;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
  }

/* Style del contenedor del logo*/
.logo-container 
{
    margin: 0 auto;  /* Declara el margen en 0 a los lados y automatico verticalmente */
    height: fit-content;  /* La altura se ajustara al tamaño usado*/
}
 /* Style de la imagen dentro del logo*/
.logo-container img 
{
    height: 100px; /* Ajusta el tamaño según sea necesario */
}

/*Style del login*/
.iconos-superiores {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    margin: 0 20px;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
  }
  
  .login-desplegable {
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .login-desplegable i {
    
    color: #ff69b4;
  }
  
  .formulario-login {
    display: none;
    position: absolute;
    top: 38px;
    right: 0;
    background: #ffe6f2;
    padding: 10px;
    border: 2px solid #ff69b4;
    border-radius: 10px;
    width: 250px;
    z-index: 9999999;
  }
  
  .formulario-login input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
    border: 1px solid #ffb6c1;
    border-radius: 6px;
  }
  
  .formulario-login button {
    width: 100%;
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .login-desplegable:hover .formulario-login {
    display: block;
  }
  
  .carrito {
    cursor: pointer;
    font-size: 16px;
    color: #ff69b4;
  }

  .formulario-login input, .formulario-login button {
  width: 100%;
  box-sizing: border-box; /* Para que el padding no agrande más la caja */
}

/* Style del menu*/
.menu 
{
    background-color: rgba(255, 232, 251); /* Declara el color del fondo*/
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);  /* Le da una sombra*/
    padding: 10px 0;/*Le da un padding vertical y horizontal */
}
/* Style de la lista no numerada*/
.menu ul 
{
    list-style: none;/* Le quita el estilo a la lista (•)*/
    display:flex;/* Declara el display como un flex*/
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;/* Centra los elementos verticalmente */
    margin: 0;/* Declara el margen en 0*/
    padding: 0;/* Declara el padding en 0*/
}
/* Style de la lista dentro de la lista*/
.menu ul li 
{
    padding: 10px 25px;/* Declara el padding*/
    position: relative;/* Declara la Posicion como relativa*/
    z-index: 99999;/* Le da un index sobre todos los elementos*/
}
/* Style de las referencias dentro de la lista*/
.menu ul li a 
{
    text-decoration: none;/* Le quita el diseño a las referencias*/
    color: rgba(255, 109, 228 ); /* Declara el color*/
    font-weight: bold;/* Le da un relleno a la letra*/
    padding: 15px 0;/* Declara el padding*/
    display: block;/* Declara el display como un block*/
    transition: all 0.4s;/* Declara el tiempo de la animacion*/
}
/* Style del efecto hover de las referencias*/
.menu ul li a:hover 
{
    color: rgba(147, 0, 255); /* Declara el color*/
}
/* Style del submenu*/
.Submenu
{
    display: none;/* Lo declara invisible*/
    border-radius: 12px;/* Declara el redondeo de los bordes*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);/* Le da una sombra*/
    min-width: fit-content; /* El ancho minimo dependera del contenido*/
    z-index: 999;/* Le da un index sobre los elementos*/
}
/* Style del efecto hover del submenu*/
.menu ul li:hover .Submenu
{
    display: block;/* Lo declara como bloque*/
    position: absolute;/* Declara su posicion como absoluta*/
    left: 0;/* Su posicion a la izquierda sera la minima*/
    background-color: rgba(255, 232, 251 );/* Declara el color de fondo*/
    width: fit-content;/* El ancho dependera del contenido*/
    
}
/* Style de la lista no numerada del submenu*/
.Submenu ul
{
    display: block;/* Lo declara como bloque*/
    margin: 0;/* Declara el margen en 0*/
    padding: 0;/* Declara el padding en 0*/
}
/* Style de la lista dentro del submenu*/
.Submenu ul li
{
    margin: 0 0;/* Declara el margen*/
}
/* Style de las referencias dentro del submenu*/
.Submenu ul a li 
{
    color: rgba(255, 109, 228 );/* Declara el color de la letra*/
    text-decoration: none;/* Quita la decoracion de referencia*/
    font-size: 14px;/* Declara el tamaño de la letra*/
    transition: all 0.4s;/* Declara el tiempo de la animacion*/
}
/* Style de las referencias al pasar el mouse encima*/
.Submenu ul a li:hover 
{
    color: #f1c40f; /* Declara el color de la letra*/
    background-color: #8e44ad; /* Declara el color de fondo*/
}
/*Style de animacion*/
.Submenu ul a li:before 
{
    content: "";/* Declara el contenido en vacio*/
    position: absolute;/* Declara la posicion como absoluta*/
    bottom: 0;/* inicializa el contenido desde abajo*/
    left: 0;/* inicializa el contenido desde la izquierda*/
    width: 100%;/*Declara que use todo el ancho*/
    height: 2px;/*Declara la altura maxima*/
    background-color: #f1c40f; /*declara el color de fondo*/
    transform: scaleX(0);/*oculta el elemento*/
    transform-origin: bottom right;/*desplaza el item*/
    transition: transform 0.3s ease-out;/*declara el tiempo de la animacion*/
}

/* Style de la animacion al hacer hover*/
.Submenu ul a li:hover:before {
    transform: scaleX(1);/*Muestra el elemento*/
    transform-origin: bottom left;/*desplaza el item*/
}
.Grid
{
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: auto 1fr;
    
       
}
.Busqueda 
{
    grid-column: 1 /3; 
    background-color: #f0f0f0; /* Fondo para que se vea mejor */
    padding: 10px;
    text-align: right;
    
}
.Busqueda input
{
    width: 400px;
    padding: 2px;
    margin: 0 10px;
    font-size: 16px;
    border-radius: 8px;
    
}
.Detalles
{
    grid-column: 1;
    padding: 10px 0;
    border: 1px black solid;
    background-color: rgba(255, 232, 251); /* Declara el color del fondo*/
}
.informacionPersonaje
{
    grid-column: 2;
}
.imagenManga
{
    width: 100%; 
    margin: 0 auto;
    
}
.imagenManga img
{
    width: 225px;
    height: 337px; 
    border: black 5px solid;
    margin: 5px;
  
}
.detallesManga h4
{
    font-size: 18px;
}
.detallesManga ul
{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.Info    
{
    display: flex;
    
    padding: 5px 10px;
    gap: 10px;
    flex-wrap: wrap;
}
.Info strong
{
    min-width: 90px;
    text-align: left;
}
.Info span   
{
    flex: 1;
    text-align: left;
    
}
.peo
{
    text-decoration-line: underline;
}
.EstadisticasContainer 
{
    display: flex;
    justify-content: space-between;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 0 0;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
}
.informacionManga
{
    margin: 0 10px;
}
.EstadisticaColumna 
{
    flex: 1;
    text-align: center;
    padding: 0 10px;
    border-left: 3px solid #ccc;
}

.EstadisticaColumna:first-child
{
    border-left: none;
}
#sinopsis h4
{
    margin: 10px auto;
}
#relacionados h4
{
    margin: 10px auto;
}
.relacionTipo
{
    background-color: #f9f9f9; /* Fondo suave */
    padding: 10px; /* Relleno para separar del borde */
    border-radius: 5px; /* Bordes redondeados */
}
.relacionTipo strong
{
    display: block;
    text-align: left;
    text-decoration: underline;
}
.relacionTipo ul
{
    display: block;
    text-align: left;
}
#personajes 
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #fafafa;
}

#personajes div 
{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

#personajes div:hover 
{
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#personajes img 
{
    width: 120px;
    height: 120px;
    object-fit:cover;
    border-radius: 25px;
    margin-bottom: 10px;
}

#personajes p 
{
    margin: 5px 0;
    font-size: 15px;
    color: #333;
}

#personajes a 
{
    text-decoration: none;
    color: inherit;
}
#foro 
{
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 15px 0;
}
#foro  h4 
{
    display: block;
    border-bottom: 2px solid #ccc;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    
}
#foro ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#foro li {
    margin: 15px 0;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #eee;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

#foro li p:first-of-type 
{
    margin: 10px 0;
    font-size: 14px;
    color: #666;
}
#foro li em {
    font-style: italic;
    font-size: 12px;
    color: #999;
}


/* Style del footer*/
footer
{

    position:static;/* Declara la posicion como fija*/
    width: 100%;/* Declara que use todo el ancho*/
    bottom: 0;/* Declara la posicion al fondo*/
    height: fit-content;/* Declara la altura para que se ajuste al contenido*/
    background-color:rgba(255, 232, 251); /* Declara el contenido del fondo */
}
/* Style del ContainerContacto*/
.ContainerContacto
{
    display: flex;/* Declara el display como flex*/
    justify-content: space-between;/* Declara el espacio entre el contenido*/
    padding: 5px ;/* Declara el padding*/
}
/* Style del FooterColumna*/
.FooterColumna
{
    padding: 0 auto;/* Declara el padding vertical y horizontal*/
    margin: 0 auto;/* Declara el margin vertical y horizontal*/
}
/* Style de los enlaces de FooterColumna*/
.FooterColumna a
{
    text-decoration: none;/* Quita la decoracion del enlace*/
    color: rgba(255, 109, 228 );/* Declara el color del texto*/
}
/* Style de los h4 de FooterColumna*/
.FooterColumna h4
{
    color: #8e44ad; /* Declara el color del texto*/
}
/* Style de las imagenes de FooterColumna*/
.FooterColumna img
{
    width: 200px;/* Declara el ancho maximo*/
    margin: 50px auto;/* Declara el margin vertical y horizontal*/

}
/* Style de los parrafos en el div Social*/
.Social p
{
    padding: 0 auto;/* Declara el padding vertical y horizontal*/
    margin: 8px auto;/* Declara el margin vertical y horizontal*/
}

/* Reglas para pantallas de un ancho maximo*/
@media only screen and (max-width: 1000px)
{
    .FooterColumna
    {
        font-size: 16px;
    }
    .promo-barra 
    {
        font-size: 14px;
    }
    .Busqueda input
    {
        font-size: 22px;
    }
    #ranking {
        flex-direction: column; /* En pantallas pequeñas, pone los elementos en una columna */
        gap: 5px;
    }

    #ranking .estadistica {
        text-align: left; /* Alineación para pantallas pequeñas */
    }
    #personajes 
    {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
            padding: 20px;
            background-color: #fafafa;
    }

    #personajes div 
    {
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 8px;
        text-align: center;
        padding: 10px;
        transition: transform 0.2s, box-shadow 0.2s;
    }

    #personajes div:hover 
    {
        transform: scale(1.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #personajes img 
    {
        width: 180px;
        height: 180px;
        object-fit:cover;
        border-radius: 25px;
        margin-bottom: 10px;
    }

    #personajes p 
    {
        margin: 5px 0;
        font-size: 18px;
        color: #333;
    }

    #personajes a 
    {
        text-decoration: none;
        color: inherit;
    }
    .Info    
    {
        font-size: 18px;
    }
    #foro  h4 
    {
        font-size: 22px;
    }
    #foro ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #foro li {
        margin: 15px 0;
        padding: 10px 15px;
        background-color: #fff;
        border-radius: 6px;
        border: 1px solid #eee;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    }

    #foro li p:first-of-type 
    {
        margin: 10px 0;
        font-size: 14px;
        color: #666;
    }
    #foro li em {
        font-style: italic;
        font-size: 12px;
        color: #999;
    }


}